.sec2 h2 {
    font-weight: bold;
    font-size: 38px;
}

.section2 .bold {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    height: 97px;
    width: 162px;
}

.section2 .light {
    font-size: 20px;
    color: black;
}

.sec2again {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec2 {
    text-align: center;

    margin-top: 116px;
    padding: 50px;
    height: 306px;

}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}