.sec3 .img{
    display: flex;
}
.sec3again{
    display: flex;
    gap: 100px;
    justify-content: center;
    
}
.section3{
    height: 243px;
    width: 467px;
    background-color: white;
    padding-left: 24px;
    padding-top: 24px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
    text-align: left;
}
.sec3{
    text-align: center;
}
.sec3 .revdetail{
    display: flex;
    gap: 10px;
}
.revdetail{
    text-align: left;
    padding-top: 24px;
}
.revdetail img{
    border-radius: 50%;
}
.revdetail .name{
    color: #757575;
}
.revdetail .date{
    color: #B3B3B3;
}
