.sec5 label,input{
    display: block;
    gap: 10px;
}
.sec5 h1{
    font-weight: bold;
    font-size: 97px;
}
.sec5 input{
    height: 70px;
    width: 497px;
    border-radius: 10px;
    margin-bottom: 19px;
    padding-left:10px ;
    border: 0px;
}
.sec5 textarea{
    height: 167px;
    border-radius: 10px;
    border: opx;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 497px;
}
.sec5 button{
    height: 62px;
    width: 505px;
}

.sec5{
    margin: 93px auto 0 auto;
    display: flex;
    height: 632px;
    width: 1140px;
}
.sec5 label{
    font-weight: 600;
    font-size: 18px;
}
input::placeholder{ 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
form input,form textarea{
    box-sizing: border-box;
}